﻿@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata
@model IntelliTectWeb.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.MiddleInitial)</dt>
        <dd>@Html.DisplayFor(model => model.MiddleInitial)</dd>

        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.EmailAddress)</dt>
        <dd>@Html.DisplayFor(model => model.EmailAddress)</dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.PersonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p> 