﻿@using System.Threading.Tasks
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    10341 N Gibson Drive<br />
    Hayden, ID 83835<br />
    <abbr title="Phone">P:</abbr>
    208.419.5327
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">howardderekl@gmail.com</a>
</address>
