﻿@using System.Threading.Tasks
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Application Information</h2>
        <p>This project was a technical challenge from IntelliTect to create an ASP.Net Person CRUD example project.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Project Created using the following concepts.</h2>
        <ul>
            <li>.Net MVC 6</li>
            <li>Local SQL Entity Framework 7</li>
            <li>Creating using EF Context and Repository Style Adaptation</li>
            <li>Dependacy Injection used to make PersonRepository available to PersonController</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Testing</h2>
        <ul>
            <li>Testing using new Web Library Project</li>
            <li>Testing project created using xUnit</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Deployment Information</h2>
        <ul>
            <li>The bitbucket repository can be found at: <a href="https://bitbucket.org/howardderekl/intellitect" target="_new">Bitbucket Repo</a></li>
            <li>Step 1: Clone Repository <em>https://howardderekl@bitbucket.org/howardderekl/intellitect.git</em></li>
            <li>Step 2: Build Project to create dependancies</li>
            <li>Step 3: If you don't have DNVM Beta5 installed - Run the setup.bat file in the IntellitectWeb directory - Otherwise skip</li>
            <li>Step 4: Using the Visual Studio Test Explorer you can "Run All" Unit Tests (Unit Tests are still in progress)</li>
            <li>Step 5: Run the Project</li>
        </ul>
    </div>
</div>
